ol, ul {
  list-style: none;
}
.header {
  z-index: 100;
  position: absolute;
  width: 100%;
  padding-bottom: 1em;
}

.contact{
  display:block;
  padding:2em 0;
  background: whitesmoke;
  box-sizing: border-box;
  font-size:1em;
}
.nav{
  color:#2095FE;
  width: 10%;
}
.nav.left{
  margin-left: 1em;
  margin-right: 5em;
}
.nav.right{
  margin-right: 1em;
  margin-left: 5em;
}
.contact-name{
  margin-right: 1em;
}
/* #header-bottom{
  width: 100%;
  background-image: linear-gradient(#FFFFFF, #FFFFFF00);
  height: 2em;
  padding: 0;
  margin: 0;
} */
.centered {
  text-align: center;
}

.media img {
  width: 270px;
  border-radius: 20px;
  position: relative;
  margin: 0px 10px 20px 10px;
}

form {
  width: 100%;
  padding: auto;
  height: 2.25em;
}
form input {
  border-radius: 20px;
  border-width: 1px;
  width: 70%;
  height: 100%;
  padding: 0.5em;
}
form button {
  border-radius: 20px;
  border-width: 1px;
  width: 30%;
  height: 100%;
}

.message-details {
  display: block;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  transform: translate(7em,-1.25em);
  margin-bottom: 0;
  padding-bottom: 0;
  width:auto;
  opacity: 0.7;
}
.message-details.sent{
  transform: translate(5em,-1.25em);
}
.message-details.received{
  transform: translate(13em,-1.25em);
}

.tagline {
  font-size: 0.9em;
  font-style: oblique;
  letter-spacing: 0.1em;
  margin-top:0;
  padding-top: 0;
  color: #aaa;
}
.App {
  height: 100vh;
  overflow-y: hidden;
}
/* .message-details {
  display: block;
  text-align: center;
  font-size: 0.75em;
  position: absolute;
} */

/*
  The following CSS classes are created by w3schools
  https://www.w3schools.com/css/css_tooltip.asp
*/
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  font-size: 0.75em;
  visibility: visible;
  width: 150px;
  background-color: #313131;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  margin-left: -60px;
  opacity: 1;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #313131 transparent;
}

/*
  The following CSS classes are created by Ruben Godeau and modified by Sarah Ng
  https://codepen.io/RG/pen/bdfDI
*/

/* * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

body {
    background: none repeat scroll 0 0 #fff;
    /*border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;*/
    font-size: 11pt;
    width: 400px;
    margin: 0 auto;
    overflow-X: hidden;
    position: relative;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
.messages-wrapper {
  position: absolute;
  bottom: 3em;
  overflow-y: hidden;
  overflow-x: hidden;
}
.message {
  border-radius: 20px 20px 20px 20px;
  margin: 0px 10px 20px 10px;
  padding: 10px 15px;
  position: relative;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 80px;
}
.message.from {
    background-color: #ececec;
    color: #363636;
    margin-right: 80px;
}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -7px;
}
.message:before {
    border-color: #2095FE;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 35px, 42px, 0px);
    content: " ";
    height: 40px;
    position: absolute;
    right: -50px;
    width: 30px;
    z-index: -1;
}
.message.from:before {
    border-color: #E5E4E9;
    left: -50px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


/*
The following CSS classes are created by Gus Alaniz
https://codepen.io/madebygus/pen/wMGoNM
*/
.container {
  width: 50px;
  margin: 0 auto;
  padding: 50px 0 0;
}
.loader {
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background: #ececec;
  position: relative;
}
.loader span.dot {
  background-color: #aaa;
  opacity: 0.3;
  width: 10px;
  height: 10px;
  top: 8px;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: dots 0.9s ease-in-out infinite;
  animation: dots 0.9s ease-in-out infinite;
}
.loader span.dot.left {
  left: 8px;
}
.loader span.dot.center {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  left: 20px;
}
.loader span.dot.right {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  left: 32px;
}
@-webkit-keyframes dots {
  0% {
    opacity: 1;
  }
}
@keyframes dots {
  0% {
    opacity: 1;
  }
}

/*
Amanda Williamson  adapted by Sarah Ng
*/
.reply {
  background: whitesmoke;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.reply input {
  border: solid 1px #ececec;
  border-radius: 4px;
  padding: 5px;
  width: 70%;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.reply button {
  border-style: none;
  padding: 5px;
  width: 25%;
  outline: none;
  margin-left: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}